# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
sgp4==2.21
matplotlib==3.5.2
poliastro==0.15.2
astropy==4.3.1
httpx==0.23.0
numpy==1.21.6
